#aboutMe{
    background-image: url(/img/aboutmephoto.jpg); 
    background-position: 55% 30%;
}

#aboutMe h1, .lead{
    color: rgb(36, 86, 131);

}

body{
    background-color: rgb(97, 97, 97) ! important;

}
#info p, #nonProfit p, h4{
    text-align: center;
    font-size: 5 em !important;
}


#nbaCares{
    margin-left: 50px !important;
}

#nasaAPOD{ 
    height: 50vw !important;
    background-repeat: no-repeat !important;
    margin-left: 75px !important;
    color:rgb(221, 255, 127) !important;
    background-position: center !important;
}