#aboutMe{
    background-image: url(/img/aboutmephoto.jpg); 
    background-position: 55% 30%;
}

#aboutMe h1, .lead{
    color: aliceblue;

}

body{
    background-color: rgb(97, 97, 97) ! important;

}
#info p, #nonProfit p, h4{
    text-align: center;
    font-size: 5 em !important;
}


#nbaCares{
    margin-left: 50px !important;
}